<% if user_signed_in? && current_user.user_type.upcase == 'ADMIN'%>
<div class="col-lg-6 mx-lg-auto card shadow mt-5">

    <div class="card-header">
    <h3 class="card-title text-center">Cadidate Details</h3>
   </div>
  <div class="card-body">
  <p class="text-white bg-dark text-center"><%=flash[:error]%></p>
  <%= form_with model: @admin2, method: :post, url: admin3_path(@admin2.id) do |form| %>
  
  
   <div class="form-group mb-2">
   <%= form.label :Name %><br>
    <%= form.text_field :name, class: "form-control form-control-lg"%>
  </div>
  
  <div class="form-group mb-2">
   <%= form.label :Email %><br>
   <%= form.text_field :email , class: "form-control form-control-lg"%>
  </div >

  <div class="form-group mb-2">
    <%= form.label :Role %><br>
    <%= form.text_field :role , class: "form-control form-control-lg"%>
   </div >
  
  
  <div class="form-group mb-2">
    <%= form.label :Interviewer %><br>
    <%= form.text_field :inter , class: "form-control form-control-lg"%>
  </div >

  <div class="form-group mb-2">
    <%= form.label :Set_date %><br>
    <%= form.text_field :admin_date , class: "form-control form-control-lg"%>
  </div >
  <%time = @admin2.time%>
  <div class="form-group mb-2">
    <%= form.label :Time %><br>
    <%=form.time_field :time,value:"#{time}",class: "form-control form-control-lg" %>
  </div >
  
  <div class="form-group mb-2">
    <%= form.label :First_Round %><br>
    <%= form.text_field :first , class: "form-control form-control-lg"%>
  </div >
   
  <div class="form-group mb-2">
    <%= form.label :Second_Round %><br>
    <%= form.text_field :second , class: "form-control form-control-lg"%>
  </div >
   
  <div class="form-group mb-2">
    <%= form.label :Third_Round %><br>
    <%= form.text_field :third , class: "form-control form-control-lg"%>
  </div >
  
  <div>
   <%= form.submit "update", class: "btn btn-primary btn-lg"  %>
  </div>
  <% end %>
  
  </div>
  </div>
<%end%>